*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* .fondo{
    background-size: fixed;
    background-repeat: no-repeat;
} */
.fondo{
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0.9; */
  }

body{
    display: flex;
    align-items: stretch;
    justify-content: center;
} 


.formulario{
    position:absolute;
    justify-content: center;
    width: 400px;
    background:rgba(53, 98, 122, 0.9) ;
    padding: 40px;
    margin-top: 90px;
    margin-left: 310px;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    box-shadow: 7px 13px 37px #000;
    
}

.formulario{
    font-size: 22px;
    margin-bottom: 21px;
}

.inpu{
    width: 100%;
    background:rgba(163, 186, 206, 0.9);
    padding: 10px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
    border: 1px solid rgb(243, 243, 243);
    font-size: 16px;
    color:white;
}

.formulario p {
    height: 47px;
    text-align: center;
    font-size: 12px;
    line-height: 47px;
}

.formulario a{
    color:white;
    text-decoration: none;
}

.formulario a:hover{
    color:rgb(6, 182, 182);
    text-decoration: underline;
}

.formulario .botones{
    width: 100%;
    background:rgb(79, 79, 168);
    border:none;
    padding:12px;
    color: white;
    font-size:14px;
}