/* login */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* .fondo{
    background-size: fixed;
    background-repeat: no-repeat;
} */
.fondo{
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0.9; */
  }

.flex{
    display:flex;
}
.align-items-stretch{
    align-items: stretch;
}
.justify-content-center{
    justify-content:center;
}


.login{
    position:absolute;
    justify-content: center;
    width: 400px;
    background:rgba(53, 98, 122, 0.9) ;
    padding: 40px;
    margin-top: 150px;
    margin-left: 310px;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    box-shadow: 7px 13px 37px #000;
    
}
.login label{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    /* border: 2px solid black; */
    font-size:30px;
    font-weight:bold;
    text-transform: uppercase;
}
.login-fondo-icon{
    position:absolute;
    left:0px;
    margin: 20px;
    

}
.login-fondo-icon img{
    width: 200px;
}


.login{
    font-size: 22px;
    margin-bottom: 21px;
}

.inpu{
    width: 100%;
    background:rgba(163, 186, 206, 0.9);
    padding: 10px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
    border: 1px solid rgb(243, 243, 243);
    font-size: 16px;
    color:white;
}

.login p {
    height: 47px;
    text-align: center;
    font-size: 12px;
    line-height: 47px;
}

.login a{
    color:white;
    text-decoration: none;
}

.login a:hover{
    color:rgb(6, 182, 182);
    text-decoration: underline;
}

.login .botones{
    width: 100%;
    background:rgb(79, 79, 168);
    border:none;
    padding:12px;
    color: white;
    font-size:14px;
}



/* Pagina banner Header*/

.banner{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ebebeb;
    /* justify-content:space-between;   */
    z-index: 1;

}

.banner nav{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10%;
    justify-content: flex-end
}

.nav-ul-banner li{
    list-style: none;
    display: inline;
    margin:40px
}
.nav-ul-banner li a {
    font-size: 17px;
    text-decoration: none;
    
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.banner img{
    position:relative;  
    height:70px;  
    margin:10px;
}


/* Pagina Principal Body*/
.body{
    margin-top: 100px;
    
}


/* Slider de las imagenes */
.container-slider{
    /* border: solid black 2px; */
    /* margin: auto; */
    /* background-color: white; */
    width: 100%;
    padding: 40px;
    margin-top: 100px;
  }
  
  ul, li {
      /* padding: 0; */
      /* margin: 0; */
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 100%;
    height: 350px;
  }
  
  ul.slider li {
    /* border: solid black 2px; */
      position: absolute;
      /* left: 0px; */
      top: 0px;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: 0.2s forwards;
      /* transition: opacity .5s; */
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    /* object-fit: cover; */
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
      /* transition: 2s; */
  }
  
   ul.slider li:target{
       opacity: 1;  
      /*Mostramos el <li> del enlace que pulsemos*/
  } 
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
      
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding-top: 0px;
    width: 20px;
    /* height: 30px; */
    font-size: 15px;
    border-radius: 50%;
  }




footer {
    /* position: ; */
    /* margin: 20px auto; */
    width: 100%;
    left: 0;
    bottom: 0;
    /* height: 30px; */
    
    /* margin: 1000px 20px 0px 20px; */
    background: rgba(86, 112, 126, 0.9);
    margin-top: 20px;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 60px 60px 0px 0px;
  }
